{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Fruitables - Checkout</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;800&display=swap" rel="stylesheet">

    <!-- Libraries CSS -->
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Main CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

    <!-- Navbar Start -->
    <div class="container-fluid fixed-top">
        <div class="container topbar bg-primary d-none d-lg-block">
            <div class="d-flex justify-content-between">
                <div class="top-info ps-2">
                    <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i>
                        <a href="#" class="text-white">Bonaberi, Douala</a></small>
                    <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i>
                        <a href="#" class="text-white">farm2market@example.com</a></small>
                </div>
                <div class="top-link pe-2">
                    <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
                    <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
                    <a href="#" class="text-white"><small class="text-white ms-2">Support</small></a>
                </div>
            </div>
        </div>

        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl">
                <a href="/" class="navbar-brand">
                    <h1 class="text-primary display-6">Farm2Market</h1>
                </a>

                <button class="navbar-toggler py-2 px-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>

                <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="/shop" class="nav-item nav-link">Shop</a>
                        <a href="/cart" class="nav-item nav-link">Cart</a>
                        <a href="/checkout" class="nav-item nav-link">Checkout</a>
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                    </div>

                    <div class="d-flex m-3 me-0">
                        <button class="btn-search btn border border-secondary btn-md-square rounded-circle
                            bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal">
                            <i class="fas fa-search text-primary"></i>
                        </button>
                        <a href="/cart" class="position-relative me-4 my-auto">
                            <i class="fa fa-shopping-bag fa-2x"></i>
                        </a>
                        <a href="/login" class="my-auto">
                            <i class="fas fa-user fa-2x"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
<br><br><br>
<br><br><br><br><br><br>
    <!-- Page header -->
    <div class="container-fluid bg-primary py-5 mb-5">
        <h1 class="text-center text-white display-6">Checkout</h1>
    </div>

    <!-- Checkout -->
    <div class="container py-5">
        <div class="row g-5">

            <!-- Billing -->
            <div class="col-lg-7">
                <h1 class="mb-4">Billing Details</h1>

                <form>
                    <label class="form-label">First Name</label>
                    <input class="form-control" type="text">

                    <label class="form-label mt-3">Last Name</label>
                    <input class="form-control" type="text">

                    <label class="form-label mt-3">Address</label>
                    <input class="form-control" type="text">

                    <label class="form-label mt-3">Mobile</label>
                    <input class="form-control" type="tel">

                    <label class="form-label mt-3">Email</label>
                    <input class="form-control" type="email">
                </form>

            </div>

            <!-- cart summary -->
            <div class="col-lg-5">
                <h4>Your Cart</h4>
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>Product</th><th>Name</th><th>Price</th><th>Qty</th><th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="{% static 'img/fruite-item-1.jpg' %}" width="80"></td>
                            <td>Orange</td>
                            <td>2,000 FCFA</td>
                            <td>2</td>
                            <td>4,000 FCFA</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td><img src="{% static 'img/fruite-item-3.jpg' %}" width="80"></td>
                            <td>Banana</td>
                            <td>600 FCFA</td>
                            <td>2</td>
                            <td>1,200 FCFA</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td><img src="{% static 'img/ginger.jpg' %}" width="80"></td>
                            <td>Ginger</td>
                            <td>5,00 FCFA</td>
                            <td>2</td>
                            <td>1,000 FCFA</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td><img src="{% static 'img/patatoes.jpg' %}" width="80"></td>
                            <td>Patatoes</td>
                            <td>1,000 FCFA</td>
                            <td>2</td>
                            <td>2,000 FCFA</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td><img src="{% static 'img/carrot.jpg' %}" width="80"></td>
                            <td>Carrot</td>
                            <td>1,000 FCFA</td>
                            <td>2</td>
                            <td>2,000 FCFA</td>
                        </tr>
                    </tbody>
                </table>

                <button class="btn btn-primary w-100 mt-3">Place Order</button>
            </div>
        </div>
    </div>

     <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
            <div class="container py-5">
                <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                    <div class="row g-4">
                        <div class="col-lg-3">
                            <a href="#">
                                <h1 class="text-primary mb-0">Fruitables</h1>
                                <p class="text-secondary mb-0">Fresh products</p>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mx-auto">
                                <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" placeholder="Your Email">
                                <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Subscribe Now</button>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="d-flex justify-content-end pt-3">
                                <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-item">
                            <h4 class="text-light mb-3">Why People Like us!</h4>
                            <p class="mb-4">typesetting, remaining essentially unchanged. It was 
                                popularised in the 1960s with the like Aldus PageMaker including of Lorem Ipsum.</p>
                            <a href="" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex flex-column text-start footer-item">
                            <h4 class="text-light mb-3">Shop Info</h4>
                            <a class="btn-link" href="">About Us</a>
                            <a class="btn-link" href="">Contact Us</a>
                            <a class="btn-link" href="">Privacy Policy</a>
                            <a class="btn-link" href="">Terms & Condition</a>
                            <a class="btn-link" href="">Return Policy</a>
                            <a class="btn-link" href="">FAQs & Help</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex flex-column text-start footer-item">
                            <h4 class="text-light mb-3">Account</h4>
                            <a class="btn-link" href="">My Account</a>
                            <a class="btn-link" href="">Shop details</a>
                            <a class="btn-link" href="">Shopping Cart</a>
                            <a class="btn-link" href="">Wishlist</a>
                            <a class="btn-link" href="">Order History</a>
                            <a class="btn-link" href="">International Orders</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-item">
                            <h4 class="text-light mb-3">Contact</h4>
                            <p>Address: Bonaberi, Douala</p>
                            <p>Email: farm2market@.org/p>
                            <p>Phone: +237 657 579 185</p>
                            <p>Payment Accepted</p>
                            <p>MoMo & OM</p>
                            <img src="#" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


    <!-- JS -->
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
